<!DOCTYPE html>
<html>
  <head>
    <title><%= uitext.Title %></title>
  </head>
  <body>
    <h1><%= uitext.Title %></h1>
    <h2>These are the blog entries</h2>
    <ul>
      <% for (const entry of blogs) { %>
      <li>
        <a href="/blog/<%= entry.id %>"><%= entry.blog_title %></a>
      </li>
      <% } %>
    </ul>

    <% for (const item of uitext.PageData) { %>
      <% if (item.__component === "stuff.paragraph-block") { %>
        <h3>This is a paragraph block from the Dynamic Section</h3>
        <p><%= item.text %></p>
      <% } %>
    <% } %>
  </body>
</html>
